* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: #0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110vh;
  padding: 30px;

}
.chat-container {
  background: #111;
  border: 1px solid #0ff;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px white;
  overflow: auto;
  animation: pulseShadow 5s infinite ease-in-out;
}
@keyframes pulseShadow {
  0% {
    box-shadow: 0 0 10px white;
  }
  50% {
    box-shadow: 0 0 20px white;
  }
  100% {
    box-shadow: 0 0 10px white;
  }
}
.chat-container::-webkit-scrollbar {
  width: 6px;
}
.chat-container::-webkit-scrollbar-thumb {
  background: cyan;
  border-radius: 4px;
}
.chat-container:-webkit-scrollbar-thumb:hover {
  background: black;
}


.chat-header {
  background-color: #0ff;
  color: black;
  padding: 15px 20px;
  text-align: center;
}


.chat-area {
  flex-grow: 1;
  padding: 20px;
  background: #000;
  display: flex;
}

.chat-message {
  max-width: 75%;
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 1rem;
  line-height: 1.4;
  animation: fadeInUp 0.5s ;
}
.chat-message.bot {
  background-color: #0ff1;
  color: white;
  align-self: flex-start;
  border-top-left-radius: 0;
  border-left: 4px solid white;
}
.chat-form {
  background: black;
  padding: 15px 20px;
  display: flex;
  gap: 15px;
  border-top: 1px solid #0ff4;
  border-radius: 0 0 15px 15px;
}
.chat-form input {
  flex-grow: 1;
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid cyan;
  background: black;
  color: white;
  font-size: 1rem;
}
.chat-form input::placeholder {
  color: #0ff8;
}
.chat-form button {
  background-color: #0ff;
  border: none;
  border-radius: 25px;
  padding: 12px 25px;
  font-size: 16px;
}


.logout-botton {
  margin-top: 20px;
  padding: 10px 22px;
  border-radius: 25px;
  border: 1.5px solid #0ff;
  color: #0ff;
  text-decoration: none;
}
.logout-botton:hover {
  background-color: #0ff;
  color: #000;
}


/* for other box for coding */
.message {
  background: #f1f1f1;
  margin: 0px 0;
  padding: 15px;
  border-radius: 10px;
}
.code-block {
  position: relative;
  background: #2d2d2d;
  color: #f8f8f2;
  padding: 1em;
  border-radius: 6px;
  font-family: monospace;
  margin-top: 2px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.code-block pre {
  margin: 0;
}

.code-block button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: background-color 0.2s ease;
}




