* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container form {
  background: black;
  border: 1px solid cyan;
  padding: 32px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 20px white;

}

h2, label {
  color: cyan;
  text-align: center;
  
}

label {
  display: block;
  margin: 16px 0 8px;
  font-weight: 500;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 13px;
  background: black;
  border: 1px solid #0ff;
  border-radius: 3px;
  color: white;
  margin-bottom: 24px;
  
}


input[type="submit"] {
  width: 100%;
  padding: 13px;
  background: cyan;
  color: black;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 16px;
}

input[type="submit"]:hover {
  background: black;
  color: cyan;
  box-shadow: 0 0 15px cyan;
}

/* Flash messages */
.error-message {
  width: 350px;
  padding: 13px;
  margin-bottom: 24px;
  text-align: center;
  border-radius: 3px;
}

.error-message {
  color: red;
  background: black;
  border: 1px solid red;
}
