<!DOCTYPE html>
<html>
<head>
    <title>Login From</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
  <div class="login-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
         <div class="{{ category }}-message">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <form action="{{ url_for('login') }}" method="POST">
      <h2>Login</h2>
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter your username">
      
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter your pasword">
      <input type="submit" value="Login">
    </form>
  </div>
</body>
</html>
